<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>footer 영역</title>
<link rel="stylesheet" href="./css/bootstrap.css">
    <script src="./js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

	<div class="container py-2">
        <header class="p-0">
            <nav class="navbar navbar-expand-sm pt-0">
               <div>
                    <form action="#"class="form-inline my-1 my-lg-0">
                        <div class="input-group my-3">
                            <input type="password" class="form-control"​>
                            <button class="btn btn-dark">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                            
                        </div>
                      </form>
                </div>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/login/login" class="nav-link link-dark">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a href="/register" class="nav-link link-dark">회원가입</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login/mypage" class="nav-link link-dark">마이페이지</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link link-dark">
                            <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="row">
                <div class="col-8 mx-auto p-1 text-center">
                    <h1 class="display-4 fw-bold">JR41</h1>
                </div>    
                    
                <div class="row mx-auto p-4">
                       <ul class="nav nav-justified nav-tabs">
							<li class="nav-item">
                                 <a href="/jr41/list/1" class="nav-link link-dark" >컵</a>
                             </li>
 
                            <li class="nav-item">
								<a href="/jr41/list/2" class="nav-link link-dark">그릇,접시</a>
						    </li>
                            <li class="nav-item">
                       
 							  <a href="/jr41/list/3" class="nav-link link-dark" >스푼,포크</a>
 							 </li>
                            <li class="nav-item">
                      
 								 <a href="/jr41/list/4" class="nav-link link-dark" >홈카페용품</a>
 							 </li>
                            <li class="nav-item">
 							 <a href="/jr41/list/5" class="nav-link link-dark" >선물세트</a>            
 							 </li>
                            <li class="nav-item">
 -                         <a href="/jr41/list/6" class="nav-link link-dark">인테리어</a>                         
 
 								 </li>
                            <li class="nav-item">
 -->                         <a href="/jr41/list/7" class="nav-link link-dark" >공지사항</a>                   
 							
 							</li>

                        </ul>
                    </div>
            </div>
	</body>
</html>